.footercolor{
    background-color: #2C3E50;
}
.border-radus{
      width: 44px;
    height: 44px;
     border: 1px solid #fff;
    border-radius: 50%;

    padding: 12px;          /* المسافات الداخلية المتساوية */
    color: #fff;
    font-size: 18px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    
}
.footerbottom{
    background-color: #1A252F !important;
    color: #fff !important;
}