.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: #1ABC9C;}

    .icon-after::after{
content: "";
position: absolute;
width: 120px;
height: 4px;
background-color: white;
left: 30px;
bottom: 6px;
}



.before::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 4px;
    background-color: white;
    left:65px;
    bottom: 9px;
}



@media screen and (min-width:992px) and (max-width:1200px) {
   .before::before{
     left:40px;
   }
}



@media screen and (min-width:786px) and (max-width:992px) {
   .before::before{
     left:20px;
   }
}


@media screen and (min-width:576px) and (max-width:786px) {
  
  .before::before{
     left:20px;
   }
    .content{
    display: flex;
    flex-wrap: wrap;
  }


}




@media screen and (max-width:576px)  {
 .before::before{
     left:10px;
   }
      .content{
    display: flex;
    flex-wrap: wrap;
  }
}